/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* reset styling end */

/* menu header start */

.page-actions-container {
    height: 40px;
    background-color: #218c74;
    display: flex;
    align-items: flex-end;
    padding-left: 1rem;
}
.page-action {
    width: 3.5rem;
    padding: 0 0.5rem;
    text-align: center;
    color: #f1f2f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* menu header end */

/* page actions start */

.selected-page-action {
    background-color: #f1f2f6;
    color: #218c74;
}
.cellprop-actions-container {
    height: 40px;
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}
.cellprop-actions-container > * {
    display: inline-block;
    margin-right: 1rem;
}
.cellprop-actions-container > *:hover {
    cursor: pointer;
}
.cellprop-actions-container > select {
    border: none;
    border-radius: 2px;
    outline: none;
}
.font-family-prop {
    padding: 0.2rem;
}
.font-size-prop {
    padding: 0.2rem;
}

/* page actions end */

/* page formula start */

.formula-actions-container {
    height: 30px;
    background-color: #ecf0f1;
    padding-left: 16px;
    display: flex;
    align-items: center;
}
.formula-actions-container > * {
    display: inline-block;
    margin-right: 0.7rem;
}
.formula-icon {
    width: 1.2rem; 
}
.address-bar {
    width: 5rem;
    text-align: center;
}
.formula-bar {
    width: calc( 100vw - 5rem - 0.7rem - 0.7rem - 0.7rem );
}
.formula-actions-container > input {
    border: none;
    outline: none;
    height: 70%;
}

/* page formula end */